Source: python-escript
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Joel Fenwick <j.oelpublic@gmail.com>, Anton Gladky <gladk@debian.org>
Section: science
Priority: extra
Build-Depends: python-all-dev,
               python3-all-dev,
               python-numpy,
               python3-numpy,
               libboost-python-dev,
               libboost-random-dev,
               libnetcdf-dev,
               libnetcdf-cxx-legacy-dev,
               scons,
               zip,
               python-sphinx,
               doxygen,
               python-docutils,
               texlive,
               ghostscript,
               texlive-latex-extra,
               latex-xcolor,
               lsb-release,
               libopenmpi-dev,
               openmpi-bin,
               debhelper (>= 9),
               dh-python,
               libsuitesparse-dev
Standards-Version: 3.9.8
Homepage: https://launchpad.net/escript-finley
X-Python-Version: >=2.7
X-Python3-Version: >=3.2

Package: python-escript
Architecture: any
Depends: ${python:Depends},
         python-numpy,
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: python-sympy,
            python-matplotlib,
            python-scipy
Suggests: python-pyproj,
          python-gdal,
          python-escript-doc
Description: Escript/Finley finite elements Python2 system (with OpenMP)
 Escript is a programming tool for implementing mathematical models in Python
 using the finite element method (FEM). Because users do not access the data 
 structures it is very easy to use and scripts can run on desktop computers 
 as well as highly parallel supercomputer without changes. Application areas 
 for escript include earth mantle convection, geophysical inversion, 
 earthquakes, porous media flow, reactive transport, plate subduction, erosion,
 and tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes)
 without any special modifications.  
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the commands and libraries for Python2 with 
 OpenMP threading.

Package: python-escript-mpi
Architecture: any
Depends: ${python:Depends},
         openmpi-bin,
         python-numpy,
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: python-sympy,
            python-matplotlib,
            python-scipy
Suggests: python-pyproj,
          python-gdal,
          python-escript-doc
Description: Escript/Finley finite elements Python2 system (OpenMP + MPI)
 Escript is a programming tool for implementing mathematical models in Python
 using the finite element method (FEM). Because users do not access the data 
 structures it is very easy to use and scripts can run on desktop computers as
 well as highly parallel supercomputer without changes. Application areas for 
 escript include earth mantle convection, geophysical inversion, earthquakes, 
 porous media flow, reactive transport, plate subduction, erosion, and tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes)
 without any special modifications.  
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the commands and libraries for Python2 with 
 both OpenMP threading and MPI multiprocess support. 

Package: python3-escript
Architecture: any
Depends: ${python3:Depends},
         python3-numpy,
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: python3-sympy,
            python3-matplotlib,
            python3-scipy
Suggests: python3-pyproj,
          python3-gdal,
          python-escript-doc
Description: Escript/Finley finite elements Python3 system (with OpenMP)
 Escript is a programming tool for implementing mathematical models in Python
 using the finite element method (FEM). Because users do not access the data
 structures it is very easy to use and scripts can run on desktop computers as
 well as highly parallel supercomputer without changes. Application areas for
 escript include earth mantle convection, geophysical inversion, earthquakes,
 porous media flow, reactive transport, plate subduction, erosion, and 
 tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes)
 without any special modifications.  
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the commands and libraries for Python3 with 
 OpenMP threading and MPI multiprocess support. 

Package: python3-escript-mpi
Architecture: any
Depends: ${python3:Depends},
         python3-numpy,
         openmpi-bin,
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: python3-sympy,
            python3-matplotlib,
            python3-scipy
Suggests: python3-pyproj,
          python3-gdal,
          python-escript-doc
Description: Escript/Finley finite elements Python3 system (OpenMP + MPI)
 Escript is a programming tool for implementing mathematical models in Python 
 using the finite element method (FEM). Because users do not access the data 
 structures it is very easy to use and scripts can run on desktop computers as 
 well as highly parallel supercomputer without changes. Application areas for 
 escript include earth mantle convection, geophysical inversion, earthquakes, 
 porous media flow, reactive transport, plate subduction, erosion, and 
 tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes) 
 without any special modifications.  
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the commands and libraries for Python3 with 
 both OpenMP threading and MPI multiprocess support.  

Package: python-escript-doc
Architecture: all
Depends: doc-base,
         libjs-sphinxdoc,
         sphinx-common,
         ${misc:Depends}
Recommends: python-escript
Description: Documentation for Escript/Finley
 Escript is a programming tool for implementing mathematical models in Python 
 using the finite element method (FEM). Because users do not access the data 
 structures it is very easy to use and scripts can run on desktop computers as 
 well as highly parallel supercomputer without changes. Application areas for 
 escript include earth mantle convection, geophysical inversion, earthquakes, 
 porous media flow, reactive transport, plate subduction, erosion, and 
 tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes) 
 without any special modifications.  
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the documentation for escript, 
 including example scripts the user guide, the cookbook (an introduction from 
 a geoscientists point of view) and a guide to the esys.downunder inversion 
 toolkit.
