Package: escript-noalias
Version: 3.1-1
Description: Escript/Finley finite elements python system.
 Solve partial differential equations using finite element methods.
 This package is a transition does not contain aliases for the old launcher.
Maintainer: Escript team <esys@esscc.uq.edu.au>
Priority: extra
Section: main
Depends: python2.6, libboost-python1.38-dev, python-numpy, libnetcdf4, doc-base(>=0.8.4)
Conflicts: escript (<=3.1-1)
Recommends: python-matplotlib
Architecture: i386
 
