# $Id: MANIFEST.in,v 1.12 2005/04/29 00:18:16 paultcochrane Exp $

# the generic stuff
include README
include ChangeLog
include COPYING
include TODO
include BUGS
include setup.py

# the base classes
include pyvisi/*.py

# the renderer modules
include pyvisi/renderers/vtk/*.py
include pyvisi/renderers/gnuplot/*.py

# these are the examples to include so far
include examples/arrowPlotExample.py
include examples/arrowPlotExample2.py
include examples/contourPlotExample.py
include examples/contourPlotMovieExample.py
include examples/multiCurvePlotExample.py
include examples/meshPlotExample.py
include examples/offsetLinePlotExample.py
include examples/offsetPlotExample.py
include examples/seismicOffsetPlotExample.py
#include examples/seismicOffsetPlotExample2.py
#include examples/seismicOffsetPlotExample3.py
include examples/scatterPlotExample.py
include examples/scatterPlot3DExample.py
include examples/simplePlotMovieExample.py
include examples/simplePlotExample.py
include examples/singleArrayPlotExample.py
include examples/surfaceAndContourPlotExample.py
include examples/surfacePlotExample.py
#include examples/imageLoadExample.py
#include examples/Flinders_eval*

# these are the data files supporting the examples
include examples/waves.dat
#include examples/waves1d.dat

# the pdf version of the documentation
include doc/manual/pyvisi_doc.pdf

