/* $Id: pyvisi.css,v 1.7 2005/01/21 01:24:00 paultcochrane Exp $ */

/* Main pyvisi CSS styles */

/* ACcESS logo green: #78c245 */
/* ACcESS logo orange: #e79122 */
/* ACcESS logo blue: #005099 */

/* main part of page */
div.main {
           margin: 0;
           padding: 0;
           font-size: 100%;
           top: 1em;
           left: 1em;
           right: auto;
           width: 100%;
           }

div.main hr { 
              background: #005099; 
              }

div.main hr.top { 
                  text-align: center;
                  width: 67%;
                  }

div.main h1 { 
                    color : #e79122;
                    text-align : center;
                    }

div.main h2,h3 { 
                    color : #e79122;
                    text-align : left;
                    }

div.main h3 {
              background: white;
              text-align: left; 
              color: #6eb320;
              }

div.main h4 { 
              color: #78c245;
              }

div.main p {
             text-align: justify;
             padding: 0em 1em 0em 1em;
             }

div.main p.plain { 
                   text-align: left;
                   }

div.main table {
                 width: 100%;
                 /* border: ridge; */  /* used for testing */
                 }

div.main table.content td.content { 
                                    width: 100%;
                                    /* border: ridge; */  /* used for testing */
                                    }

div.main th,td {
                 text-align: left;
                 }

div.main table.title td {
                          width: 100%;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 150%;
                          color: #eb9a64;
                          }

div.main td.spacer { 
                     width: 180px;
                     }
div.main img.spacer { 
                     width: 180px;
                     }

div.main dt { 
              color: #4e66a5;
              font-size: 110%;
              }

/* put the sourceforge.net-provided stuff in italics */
div.banner a.sfnet {
    font-style: italic;
}

/* funding support table at bottom of index page */
table.funding {
                width: 100%;
                }

table.funding td {
                   text-align: center;
                   }

table.funding th {
                   text-align: center;
                   color: #eb9a64;
                   font-size: 120%;
                   }

table.funding img { 
                    border: none;
                    height: 59px;
                    }


/* the last updated part at the bottom of the main page */
td.updated { 
             text-align: right;
             font-size: 80%;
             }

/* styles on the news page */

div.item {
    background: #d7d4e7;
    padding: 0px 5px 1px 5px;
    margin: 7px;
}

div.item div.itemTitle {
    color: #e79122;
    font-weight: bold;
    text-align: left;
}

div.item div.itemDate { 
    color: #4e66a5;
    font-size: 50%;
    text-align: left;
}

div.item div.itemAuthor {
    color: #78c245;
    text-align: left;
    font-size: 75%;
    font-weight: bold;
}

div.item div.itemText {
    text-align: justify;
}

div.item p { 
    font-size: 75%;
}

/* styles for the people pages */
table.people { width: 100%; }

table.people th {
                  text-align: left;
                  vertical-align: top;
                  color: #6eb320;
                  font-size: 120%;
                  margin: 0px;
                  padding-top: 1em;
                  }

table.people th.photo { 
                        text-align: right;
                        padding-left: 5px;
                        padding-right: 5px;
                        }

table.people td { 
                  text-align: left;
                  vertical-align: top;
                  background: #d7d4e7;
                  padding: 5px;
                  }

table.people li { 
                  padding: 0.1em;
                  }

/* styles for the todo list */

table.todo {
    border: ridge;
    /* border-width: thin; */
}

table.todo th {
    border: ridge;
    border-top: none;
}

table.todo td {
    border: ridge;
    border-top: none;
    border-bottom: none;
}

table.todo th.description {
    border-left: none;
}

table.todo td.description {
    border-left: none;
}

table.todo th.dateAdded {
    border-left: none;
}

table.todo td.dateAdded {
    border-left: none;
}

table.todo th.dateCompleted {
    border-left: none;
}

table.todo td.dateCompleted {
    border-left: none;
}

table.todo th.priority {
    border-left: none;
    border-right: none;
}

table.todo td.priority {
    border-left: none;
    border-right: none;
}

table.todo th.comment {
    border-left: none;
    border-right: none;
}

table.todo td.comment {
    border-left: none;
    border-right: none;
}

table.todo tr.done {
    color: gray;
}

table.todo tr.veryhigh {
    color: red;
}

table.todo tr.high {
    color: maroon;
}

table.todo tr.medium {
    color: black;
}

table.todo tr.low {
    color: aqua;
}

table.todo tr.verylow {
    color: blue;
}

/* styles for the gallery page */

div.gallery img { 
                  border: none;
                  }

div.gallery table { 
                    vertical-align: middle;
                    width: 100%;
                    }

div.gallery td { 
                 background: #d7d4e7; 
                 text-align: center;
                 font-size: 50%;
                 padding: 5px;
                 margin: 2px;
                 }

/* styles for links page */

div.hostUni {
              background: #d7d4e7;
              padding: 0px 5px 1px 5px;
              margin: 7px;
              }

div.collaborators {
                    background: #d7d4e7;
                    padding: 1px 5px 1px 5px;
                    margin: 7px;
                    }

div.links {
            background: #d7d4e7;
            padding: 1px 5px 1px 5px;
            margin: 7px;
            }

/* styles for internal page */

table.personalInfoForm td { 
                            vertical-align: top;
                            text-align: left;
                            }

input.nameField { 
                  width: 20em;
                  }

input.webAddress { 
                   width: 30em;
                   }

input.emailAddress { 
                     width: 30em;
                     }

input.photoField { 
                   width: 30em;
                   }

input.update { 
               width: 0em;
               }

blockquote.aside { 
                   font-size: 70%;
                   }

/*
vim: expandtab shiftwidth=4:
*/
