Source: python-escript
Section: science
Priority: extra
X-Python-Version: >=2.7
X-Python3-Version: >=3.2
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders:
 Joel Fenwick<j.oelpublic@gmail.com>
Homepage: https://launchpad.net/escript-finley
Build-Depends: python-all-dev (>= 2.6.6-3~), python3-all-dev, python-numpy, python3-numpy,
 libboost-python-dev, libboost-random-dev, libnetcdf-dev, scons,
 zip, python-sphinx, doxygen, python-docutils, texlive, ghostscript, 
 texlive-latex-extra, latex-xcolor, lsb-release,
 libopenmpi-dev, debhelper (>=9), dh-python
Standards-Version: 3.9.6

Package: python-escript
Description: Escript/Finley finite elements python system.
 Solve partial differential equations using finite element methods.
Architecture: any
Section: science
Priority: extra
Pre-Depends: dpkg (>= 1.15.6~)
Depends: 
 ${python:Depends}, 
 python-numpy, 
 libgomp1,
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: python-sympy, python-matplotlib, python-scipy
Suggests: python-pyproj, python-gdal, python-escript-doc
Conflicts: escript-noalias, escript
Replaces: escript-noalias, escript
Homepage: https://launchpad.net/escript-finley

Package: python-escript-mpi
Description: Escript/Finley finite elements python system.
 Solve partial differential equations using finite element methods.
Architecture: any
Section: science
Priority: extra
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${python:Depends}, libgomp1, openmpi-bin,
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: python-sympy, python-matplotlib, python-scipy
Suggests: python-pyproj, python-gdal, python-escript-doc
Conflicts: escript-noalias, escript
Replaces: escript-noalias, escript
Homepage: https://launchpad.net/escript-finley

Package: python3-escript
Description: Escript/Finley finite elements python system.
 Solve partial differential equations using finite element methods.
Architecture: any
Section: science
Priority: extra
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${python:Depends}, python3-numpy, libgomp1,
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: python3-sympy, python3-matplotlib, python3-scipy
Suggests: python3-pyproj, python3-gdal, python-escript-doc
Conflicts: escript-noalias, escript, python-escript(<=4.0)
Replaces: escript-noalias, escript
Homepage: https://launchpad.net/escript-finley

Package: python3-escript-mpi
Description: Escript/Finley finite elements python system.
 Solve partial differential equations using finite element methods.
Architecture: any
Section: science
Priority: extra
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${python:Depends}, python3-numpy, libgomp1, openmpi-bin,
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: python3-sympy, python3-matplotlib, python3-scipy
Suggests: python3-pyproj, python3-gdal, python-escript-doc
Conflicts: escript-noalias, escript, python-escript(<=4.0)
Replaces: escript-noalias, escript
Homepage: https://launchpad.net/escript-finley


Package: python-escript-doc
Description: Documentation for Escript/Finley.
 Solve partial differential equations using finite element methods.
Architecture: all
Section: science
Priority: extra
Pre-Depends: dpkg (>= 1.15.6~)
Depends: doc-base(>=0.8.4), libjs-sphinxdoc,
 ${misc:Depends}
Recommends: python-escript
Conflicts: escript
Homepage: https://launchpad.net/escript-finley
