Source: python-escript
Maintainer: Escript team <joelfenwick@uq.edu.au>
Section: main
Priority: extra
Build-Depends: python-dev, python-numpy, libboost-python-dev, libnetcdf-dev, scons, zip, python-sphinx, doxygen, python-docutils, texlive, ghostscript, texlive-latex-extra, latex-xcolor, lsb-release
Standards-Version: 3.9.3
Homepage: https://launchpad.net/escript-finley

Package: python-escript
Description: Escript/Finley finite elements python system.
 Solve partial differential equations using finite element methods.
Architecture: any
Section: main
Priority: extra
Essential: no
Depends: ${es:python}, python-numpy, ${es:boostpy}, ${es:netcdf}, libgomp1
Recommends: python-sympy, python-matplotlib, python-scipy, python-pyproj, python-gdal
Conflicts: escript-noalias, escript
Replaces: escript-noalias, escript
Homepage: https://launchpad.net/escript-finley

Package: python-escript-doc
Description: Documentation for Escript/Finley.
 Solve partial differential equations using finite element methods.
Architecture: all
Section: main
Priority: extra
Essential: no
Depends: doc-base(>=0.8.4)
Recommends: python-escript
Conflicts: escript
Homepage: https://launchpad.net/escript-finley
