#!/usr/bin/make -f

BDEST=$(CURDIR)/debian/escript
DDEST=$(CURDIR)/debian/escript-doc
BUILD=$(CURDIR)/debian/tmp
WORK=$(CURDIR)/debian/stage


.PHONY: build clean install binary binary-arch binary-indep

#thanks to the debian manual
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    parbuild=$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    sflags=-j$(parbuild)
else
    sflags=""
endif


clean:
	rm -rf build condif.log esys include lib release .sconf_tmp .sconsign.dblite config.log .sconf_temp
	rm -rf $(BDEST)
	rm -rf $(DDEST)
	rm -rf $(BUILD)
	rm -rf $(WORK)

install:	
	mkdir -p $(WORK)
	if [ ! -f svn_version ];then echo "No svn_version file found"; exit 3;fi
	scons $(sflags) SVN_VERSION=`cat svn_version` build_dir=$(BUILD) verbose=on prefix=$(WORK) options_file=`packaging/debuntu/getsubst`
	sed -e "s%STDLOCATION=0%STDLOCATION=1%" < bin/run-escript > $(WORK)/bin/run-escript

binary:	binary-arch binary-indep

binary-arch: install
	mkdir -p $(BDEST)/usr/share/doc/escript/
	mkdir -p $(BDEST)/usr/share/man/man1
	mkdir -p $(BDEST)/usr/lib/escript
	mkdir -p $(BDEST)/usr/bin
	cp $(WORK)/lib/* $(BDEST)/usr/lib/escript
	cp -r $(WORK)/esys $(BDEST)/usr/lib/escript
	cp $(WORK)/bin/* $(BDEST)/usr/bin	
	cp doc/manpage/man1/run-escript.1 $(BDEST)/usr/share/man/man1
	install --mode=644 debian/changelog $(BDEST)/usr/share/doc/escript/changelog.Debian
	gzip -f9 $(BDEST)/usr/share/doc/escript/changelog.Debian
	install --mode=644 debian/copyright $(BDEST)/usr/share/doc/escript
	gzip -f9 $(BDEST)/usr/share/doc/escript/copyright
	mkdir -p debian/escript/DEBIAN
	#Thanks to Krafft's book for this
	cd debian/escript && find * -path DEBIAN -prune -o -type f -print | xargs md5sum > DEBIAN/md5sums
	dpkg-gencontrol -Pdebian/escript -pescript
	dpkg-deb --build debian/escript ..

binary-indep: install
	mkdir -p $(DDEST)
	mkdir -p $(DDEST)/usr/share/doc/escript-doc/
	mkdir -p debian/escript-doc/DEBIAN
	scons $(sflags) SVN_VERSION=`cat svn_version` build_dir=$(BUILD) verbose=on prefix=$(WORK) options_file=`packaging/debuntu/getsubst` docs
	install --mode=644 debian/copyright $(DDEST)/usr/share/doc/escript-doc
	gzip -f9 $(DDEST)/usr/share/doc/escript-doc/copyright
	install --mode=644 debian/changelog $(DDEST)/usr/share/doc/escript-doc/changelog.Debian
	gzip -f9 $(DDEST)/usr/share/doc/escript-doc/changelog.Debian
	cp $(WORK)/release/doc/escript_examples.tar.gz $(DDEST)/usr/share/doc/escript-doc/
	cp $(WORK)/release/doc/install/install.pdf $(DDEST)/usr/share/doc/escript-doc
	cp $(WORK)/release/doc/user/user.pdf $(DDEST)/usr/share/doc/escript-doc
	cp $(WORK)/release/doc/cookbook/cookbook.pdf $(DDEST)/usr/share/doc/escript-doc
	cp $(WORK)/release/doc/inversion/inversion.pdf $(DDEST)/usr/share/doc/escript-doc/
	cp -r $(WORK)/release/doc/sphinx_api $(DDEST)/usr/share/doc/escript-doc/python_html
	cp -r $(WORK)/release/doc/doxygen $(DDEST)/usr/share/doc/escript-doc/doxygen	
	cd debian/escript-doc && find * -path DEBIAN -prune -o -type f -print | xargs md5sum > DEBIAN/md5sums
	dpkg-gencontrol -Pdebian/escript-doc -pescript-doc
	dpkg-deb --build debian/escript-doc ..
	
