Source: python-escript
Section: science
Priority: extra
X-Python-Version: >=2.7
X-Python3-Version: >=3.2
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders:
 Joel Fenwick <j.oelpublic@gmail.com>
Homepage: https://launchpad.net/escript-finley
Build-Depends: python-all-dev (>= 2.6.6-3~), python3-all-dev, python-numpy, python3-numpy,
 libboost-python-dev, libboost-random-dev, libnetcdf-dev, scons,
 zip, python-sphinx, doxygen, python-docutils, texlive, ghostscript, 
 texlive-latex-extra, latex-xcolor, lsb-release,
 libopenmpi-dev, openmpi-bin, debhelper (>=9), dh-python
Standards-Version: 3.9.6

Package: python-escript
Description: Escript/Finley finite elements python system.
 Escript is a programming tool for implementing mathematical models in python
 using the finite element method (FEM). Because users do not access the data 
 structures it is very easy to use and scripts can run on desktop computers 
 as well as highly parallel supercomputer without changes. Application areas 
 for escript include earth mantle convection, geophysical inversion, 
 earthquakes, porous media flow, reactive transport, plate subduction, erosion,
 and tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes)
 without any special modifications.  
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the commands and libraries for python2 with 
 OpenMP threading.
Architecture: any
Section: science
Priority: extra
Pre-Depends: dpkg (>= 1.15.6~)
Depends: 
 ${python:Depends}, 
 python-numpy, 
 libgomp1,
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: python-sympy, python-matplotlib, python-scipy
Suggests: python-pyproj, python-gdal, python-escript-doc
Homepage: https://launchpad.net/escript-finley

Package: python-escript-mpi
Description: Escript/Finley finite elements python system.
 Escript is a programming tool for implementing mathematical models in python
 using the finite element method (FEM). Because users do not access the data 
 structures it is very easy to use and scripts can run on desktop computers as
 well as highly parallel supercomputer without changes. Application areas for 
 escript include earth mantle convection, geophysical inversion, earthquakes, 
 porous media flow, reactive transport, plate subduction, erosion, and tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes)
 without any special modifications.  
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the commands and libraries for python2 with 
 both OpenMP threading and MPI multiprocess support. 
Architecture: any
Section: science
Priority: extra
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${python:Depends}, libgomp1, openmpi-bin,
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: python-sympy, python-matplotlib, python-scipy
Suggests: python-pyproj, python-gdal, python-escript-doc
Homepage: https://launchpad.net/escript-finley

Package: python3-escript
Description: Escript/Finley finite elements python system.
 Escript is a programming tool for implementing mathematical models in python
 using the finite element method (FEM). Because users do not access the data
 structures it is very easy to use and scripts can run on desktop computers as
 well as highly parallel supercomputer without changes. Application areas for
 escript include earth mantle convection, geophysical inversion, earthquakes,
 porous media flow, reactive transport, plate subduction, erosion, and 
 tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes)
 without any special modifications.  
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the commands and libraries for python2 with 
 OpenMP threading and MPI multiprocess support. 
Architecture: any
Section: science
Priority: extra
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${python:Depends}, python3-numpy, libgomp1,
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: python3-sympy, python3-matplotlib, python3-scipy
Suggests: python3-pyproj, python3-gdal, python-escript-doc
Homepage: https://launchpad.net/escript-finley

Package: python3-escript-mpi
Description: Escript/Finley finite elements python system.
 Escript is a programming tool for implementing mathematical models in python 
 using the finite element method (FEM). Because users do not access the data 
 structures it is very easy to use and scripts can run on desktop computers as 
 well as highly parallel supercomputer without changes. Application areas for 
 escript include earth mantle convection, geophysical inversion, earthquakes, 
 porous media flow, reactive transport, plate subduction, erosion, and 
 tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes) 
 without any special modifications.  
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the commands and libraries for python3 with 
 both OpenMP threading and MPI multiprocess support.  
Architecture: any
Section: science
Priority: extra
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${python:Depends}, python3-numpy, libgomp1, openmpi-bin,
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: python3-sympy, python3-matplotlib, python3-scipy
Suggests: python3-pyproj, python3-gdal, python-escript-doc
Homepage: https://launchpad.net/escript-finley


Package: python-escript-doc
Description: Documentation for Escript/Finley.
 Escript is a programming tool for implementing mathematical models in python 
 using the finite element method (FEM). Because users do not access the data 
 structures it is very easy to use and scripts can run on desktop computers as 
 well as highly parallel supercomputer without changes. Application areas for 
 escript include earth mantle convection, geophysical inversion, earthquakes, 
 porous media flow, reactive transport, plate subduction, erosion, and 
 tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes) 
 without any special modifications.  
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the documentation for escript, 
 including example scripts the user guide, the cookbook (an introduction from 
 a geoscientists point of view) and a guide to the esys.downunder inversion 
 toolkit.
Architecture: all
Section: science
Priority: extra
Pre-Depends: dpkg (>= 1.15.6~)
Depends: doc-base(>=0.8.4), libjs-sphinxdoc,
 ${misc:Depends}
Recommends: python-escript
Homepage: https://launchpad.net/escript-finley
