Source: python-escript
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Joel Fenwick <j.oelpublic@gmail.com>
Section: science
Priority: optional
Build-Depends: python-dev,
               python3-dev,
               python-numpy,
               python3-numpy,
               libboost-python-dev,
               libboost-random-dev,
               scons,
               zip,
               python-sphinx,
               python3-sphinx,
               doxygen,
               python-docutils,
               texlive,
               ghostscript,
               texlive-latex-extra,
               texlive-latex-recommended,
               lsb-release,
               libopenmpi-dev,
               openmpi-bin,
               debhelper (>= 10),
               libjs-mathjax,
               dh-python
Standards-Version: 4.1.3
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/python-escript.git
Vcs-Git: https://anonscm.debian.org/git/debian-science/packages/python-escript.git
Homepage: https://github.com/LutzGross/esys-escript.github.io
X-Python-Version: >=2.7
X-Python3-Version: >=3.2

Package: python-escript
Architecture: any
Section: python
Depends: ${python:Depends},
         python-numpy,
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: python-sympy,
            python-matplotlib,
            python-scipy
Suggests: python-escript-doc
Description: Escript/Finley finite elements Python2 system (with OpenMP)
 Escript is a programming tool for implementing mathematical models in Python
 using the finite element method (FEM). Because users do not access the data
 structures it is very easy to use and scripts can run on desktop computers
 as well as highly parallel supercomputer without changes. Application areas
 for escript include earth mantle convection, geophysical inversion,
 earthquakes, porous media flow, reactive transport, plate subduction, erosion,
 and tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes)
 without any special modifications.
 .
 This package contains the commands and libraries for Python2 with
 OpenMP threading.

Package: python-escript-mpi
Architecture: any
Section: python
Depends: ${python:Depends},
         openmpi-bin,
         python-numpy,
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: python-sympy,
            python-matplotlib,
            python-scipy
Suggests: python-escript-doc
Description: Escript/Finley finite elements Python2 system (OpenMP + MPI)
 Escript is a programming tool for implementing mathematical models in Python
 using the finite element method (FEM). Because users do not access the data
 structures it is very easy to use and scripts can run on desktop computers as
 well as highly parallel supercomputer without changes. Application areas for
 escript include earth mantle convection, geophysical inversion, earthquakes,
 porous media flow, reactive transport, plate subduction, erosion, and tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes)
 without any special modifications.
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the commands and libraries for Python2 with
 both OpenMP threading and MPI multiprocess support.

Package: python3-escript
Architecture: any
Section: python
Depends: ${python3:Depends},
         python3-numpy,
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: python3-sympy,
            python3-matplotlib,
            python3-scipy
Suggests: python-escript-doc
Description: Escript/Finley finite elements Python3 system (with OpenMP)
 Escript is a programming tool for implementing mathematical models in Python
 using the finite element method (FEM). Because users do not access the data
 structures it is very easy to use and scripts can run on desktop computers as
 well as highly parallel supercomputer without changes. Application areas for
 escript include earth mantle convection, geophysical inversion, earthquakes,
 porous media flow, reactive transport, plate subduction, erosion, and
 tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes)
 without any special modifications.
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the commands and libraries for Python3 with
 OpenMP threading and MPI multiprocess support.

Package: python3-escript-mpi
Architecture: any
Section: python
Depends: ${python3:Depends},
         python3-numpy,
         openmpi-bin,
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: python3-sympy,
            python3-matplotlib,
            python3-scipy
Suggests: python-escript-doc
Description: Escript/Finley finite elements Python3 system (OpenMP + MPI)
 Escript is a programming tool for implementing mathematical models in Python
 using the finite element method (FEM). Because users do not access the data
 structures it is very easy to use and scripts can run on desktop computers as
 well as highly parallel supercomputer without changes. Application areas for
 escript include earth mantle convection, geophysical inversion, earthquakes,
 porous media flow, reactive transport, plate subduction, erosion, and
 tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes)
 without any special modifications.
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the commands and libraries for Python3 with
 both OpenMP threading and MPI multiprocess support.

Package: python-escript-doc
Architecture: all
Section: doc
Depends: doc-base,
         libjs-sphinxdoc,
         libjs-mathjax,
         sphinx-common,
         ${misc:Depends}
Recommends: python-escript
Description: Documentation for Escript/Finley
 Escript is a programming tool for implementing mathematical models in Python
 using the finite element method (FEM). Because users do not access the data
 structures it is very easy to use and scripts can run on desktop computers as
 well as highly parallel supercomputer without changes. Application areas for
 escript include earth mantle convection, geophysical inversion, earthquakes,
 porous media flow, reactive transport, plate subduction, erosion, and
 tsunamis.
 .
 Scripts can be executed in parallel (on varying numbers of threads or nodes)
 without any special modifications.
 .
 Escript now includes the esys.downunder module for 3D inversion of geophysical
 data sets. The current version supports gravity, magnetic and joint inversion.
 .
 This package contains the documentation for escript,
 including example scripts the user guide, the cookbook (an introduction from
 a geoscientists point of view) and a guide to the esys.downunder inversion
 toolkit.
