Package: escript
Version: 3.2.1-2
Description: Escript/Finley finite elements python system.
 Solve partial differential equations using finite element methods.
Maintainer: Escript team <esys@esscc.uq.edu.au>
Priority: extra
Section: main
Depends: PYPKG, BOOSTPKG, python-numpy, NETCDFPKG, doc-base(>=0.8.4)
Conflicts: escript-noalias
Replaces: escript-noalias
Recommends: python-matplotlib
Architecture: i386
 
