# $Id$

include README
include CHANGES
include LICENSE
include TODO
include BUGS
include setup.py
include bin/pyscript
recursive-include pyscript *.py
include doc/examples/*.py
include doc/manual/pyscript.pdf

