name: Build Binder Image

on:
  push:
    branches: [ master ]
    paths:
      - 'binder/**'
      - '.github/workflows/build_binder_image.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'binder/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./binder/DockerfileMain
          platforms: linux/amd64
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/esys.escript.binder:latest
          push: ${{ github.event_name != 'pull_request' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
